@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font: 15px/1.5 'Roboto', sans-serif;
}

/* GLOBAL */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.billboard{
  margin-top: 32px;
}

.billboard .container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.billboard .container h1{
  font-size: 4vw;
  margin: 16px 0 60px 0;
}

.billboard .container p{
  font-size: 1.5vw;
  margin: 16px 0 60px 0;
}

.billboard .container a{
  background-color: #FFCC44;
  color: black;
  text-decoration: none;
  padding: 16px;
  border-radius: 10px;
  font-weight: bold;
}

.billboard .container img{
  width: 100%;
  min-width: 200px;
}

/* header */

header .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

header .logo{
  margin-top: 50px;
}

header nav{
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

header nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header nav li{
  padding: 10px;
  text-align: center;
  
}

header nav li a{
  text-decoration: none;
  color: black;
  align-items: center;
}

header nav li:nth-last-child(1){
  background-color: #FFCC44;
  border-radius: 10px;
}

#bmi-definition, 
#bmi-video,
#bmi-category,
#bmi-table,
#bmi-calculator,
footer
{
  margin: 60px 0;
  padding-top: 50px;
  text-align: center;
}

#bmi-definition{
  background-color: #FFCC44;
}

#bmi-definition h2, 
#bmi-video h2,
#bmi-category h2,
#our-team h2,
#bmi-table h2
#bmi-calculator h2,
.billboard .container h2{
  margin-bottom: 40px;
  font-size: 30px;
}

#bmi-definition p,
#bmi-category p,
#bmi-table p,
#bmi-calculator p{
  font-size: 16px;
  line-height: 2.0;
  margin-bottom: 30px;
}

#bmi-video .container div{
  position: relative;
  padding-top: 56.25%;
}

#bmi-video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bmi-category{
  background-color: #EEEEEE;
  padding-bottom: 50px;
  align-items: center;
}

#bmi-category .container{
  padding: 30px;
  
}

#bmi-category .card-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

#bmi-category .card{
  background-color: white;
  box-shadow: 6px 4px 23px -6px rgba(0,0,0,0.75);;
}

#bmi-category .card img{
  margin-top: 5px;
  max-width: 190px;
  border-radius: 5px;
}

#bmi-category .card-caption{
  padding: 10px 20px;
}

#bmi-category .card p{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
}

#bmi-category .card p:nth-child(1){
  font-size: 20px;
  font-weight: 900;
}

#our-team{
  text-align: center;
}

#our-team .team-profile-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#our-team .team-profile-container img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#our-team .profile-card-caption p:nth-child(1){
  font-weight: bold;
  font-size: 20px;
}

#bmi-table{
  text-align: center;
}

#bmi-table table{
  margin: 20px auto;
  width: 70%;
}

#bmi-table th, 
#bmi-table td{
  padding: 10px;
}
#bmi-table th{
  background-color: #FFCC44;
}

#bmi-table td{
  background-color: #EEEEEE;
}

#bmi-calculator .calculator{
  display: flex;
  width: 100%;
}

#bmi-calculator form{
  background-color: #EEEEEE;
  border-radius: 10px;
  margin: 20px auto 10px auto;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 6px 10px 10px -7px rgba(0,0,0,0.75);
}

#bmi-calculator form fieldset{
  border: none;
  height: 300px;
}

#bmi-calculator form legend{
  padding: 20px 0 5px 0;
  font-size: 20px;
}


#bmi-calculator form input[type=number]{
  display: block;
  border-radius: 3px;
  border: 1px solid #ADADAD;
  margin: 10px auto;
  padding: 5px 0 10px 0;
  background: white;
  width: 80%;

}

#bmi-calculator form input[type=button]{
  display: block;
  background-color: #FFAA44;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  margin: auto;
  border-radius: 3px;
  font-weight: bold;
  width: 200px;
  height: 30px;
}

#bmi-calculator .required{
  color: red;
  font-style: italic;
  font-size: 15px;
}

#bmi-calculator #hasil{
  margin-top: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
} 
/* footer */

footer{
  font-size: 15px;
  line-height: 1.5;
}

footer li{
  display: inline;
  padding: 10px;
}



/* SCREEN WIDTH */

@media (max-width: 1115px){
  #bmi-category .card-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
  }
}

@media (max-width: 700px){
  #bmi-category .card-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  } 
}

@media (max-width: 655px){
  header nav li{
    padding: 0;
  }
}


@media (max-width: 560px){
  header .container{
    grid-template-columns: 1fr;
  }

  header .logo{
    justify-self: center;
  }

  header nav{
    margin-top: 0px;
    text-align: center;
  }

  header nav li{
    padding: 10px;
  }
}

@media (max-width:327px){
  header nav li{
    padding: 0;
  }

  .billboard .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .billboard .container h1{
  font-size: 8vw;
  margin: 16px 0 60px 0;
}

  .billboard .container div:nth-child(1){
    text-align: center;
  }

  #our-team .team-profile-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }

  .billboard .container p{
    font-size: 3vw;
    margin: 16px 0 20px 0;
  }

  #bmi-table{
    padding-top: 0;
  }
  #bmi-table table{
    margin: 20px auto;
    width: 100%;
  }
  
}
